body{
  font-family: "Roboro",serif;
}
.product-scanner{
  width:900px;
  margin:20px;
}
.slider.slider-horizontal{
  width:90%;
  margin-bottom: 65px;
  position: relative;
  top: 10px;
  position: relative;
  left: 20px;
}
.slider.slider-horizontal .slider-tick-label-container{
  position: absolute;
  bottom: 30px;
}
.tooltip-inner{
  display: none;
}
.subtitle{
  margin-bottom:20px;
  display:inline-block;
}
.tick-slider-selection{
  transition: all .3s;
}
.min-slider-handle,{
  transition: all .3s;
  cursor: pointer;
}
.slider-tick {
  cursor: pointer;
}
.centred{
  display: flex;
  justify-content: center;
  transition: all 1s;
  opacity: 0;
}
.sumanderror1{
  position: relative;
  background: rgba(150,150,150,.1);
  height: 60px;
  width: 95%;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 2.5%;
}
.sumanderror1.error{
  color: red;
  
} 
.sumanderror1 .error{
  position: absolute;
  width: 30%;
  right: 20px;
  top: 13px;
  font-size: 16px;
}
.sumanderror2{
  position: relative;
  background: rgba(150,150,150,.1);
  height: 60px;
  width: 95%;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 2.5%;
}
.sumanderror2.error{
  color: red;

} 
.sumanderror2 .error{
  position: absolute;
  width: 30%;
  right: 20px;
  top: 13px;
  font-size: 16px;
}
.error img{
  position: absolute;
  left: -30px;
  top: 20%;
  height: 60%;
}
.summary{
  position: relative;
  height: 60px;
  width: 95%;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 2.5%;
}
.summary .buttons{
  position: absolute;
  right: 2.5%;
  top: 12px;
}
button{
  width: 100px;
  height: 36px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
}
.canсel{
  color: white;
  background: rgba(150,0,0,.8);
  font-size: 16px;
}
.cansel:hover{
  background: rgba(150,0,0,1);
}
.update{
  color: white;
  background: rgba(0,150,50,.8);
  font-size: 16px;
}
.update[disabled]{
  color: white;
  background: rgba(0,150,50,.6);
  font-size: 16px;
}
.update[disabled]:hover{
  background: rgba(0,150,50,.6);
  cursor: not-allowed;
}
.update:hover{
  background: rgba(0,150,50,1);
}
