<mat-toolbar color="primary">
  <h1>Billing</h1>
</mat-toolbar>
<div class="centred" id="center">
<mat-card class="product-scanner">
  <mat-card-header>
    <mat-card-title>
      <h2>Product scanner</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-title>
        Number of products
      </mat-card-title>
      <mat-card-subtitle>
        <span class="subtitle">Total number of products to scan <span> {{ productScannerSlider }} </span></span>
      </mat-card-subtitle>

      <mat-card-content  (click)="setValues()">
        <input type="text" class="slider-product-scanner">
      </mat-card-content>

      <mat-card-title>
        Crawls per month
      </mat-card-title>
      <mat-card-subtitle>
        <span class="subtitle">How often should the product be scanned per month <span> {{ crowlScannerSlider }} </span></span>
      </mat-card-subtitle>

      <mat-card-content  (click)="setValues()">
        <input type="text" class="slider-crowl-scanner" (change)="setValues()">
      </mat-card-content>
      <mat-card-content>
        <div class="sumanderror1" *ngIf="product != 0" [class.error]="error">
          <span >${{product}} x {{crowl}} = ${{product * crowl}} / month</span>
          <span *ngIf="error" class="error"><img src="../assets/images/error.svg"  alt="">You have 200 or less products. Correct this first</span>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>
      <h2>Account connector</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-title>
        Connected accounts
      </mat-card-title>
      <mat-card-subtitle>
        <span class="subtitle">Total number of connected account <span> {{ accountScannerSlider }} </span></span>
      </mat-card-subtitle>

      <mat-card-content  (click)="setValues()">
        <input type="text" class="slider-account-scanner">
      </mat-card-content>
      <mat-card-content>
        <div class="sumanderror2" *ngIf="account != 0"><span >${{account}} / month</span><span></span></div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title *ngIf="sum">
      <h2>Grand total</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
        <div class="summary">
          <span *ngIf="sum">${{sum}} / month</span>
          <div class="buttons">
            <button class="canсel">Canсel</button>
            <button class="update" id="update" [disabled]="flag" (click)="updatePlan()">Update plan</button>
          </div>
        </div>
  </mat-card-content>
</mat-card>
</div>
